<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.whowantstobemillionaire.contest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:debuggable="true">
        <activity
            android:name="com.example.whowantstobemillionaire.contest.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.whowantstobemillionaire.contest.PlayActivity"
            android:label="@string/title_activity_play" >
        </activity>
        <activity
            android:name="com.example.whowantstobemillionaire.contest.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.example.whowantstobemillionaire.contest.ScoresActivity"
            android:label="@string/title_activity_scores" >
        </activity>
        <activity
            android:name="com.example.whowantstobemillionaire.contest.CreditsActivity"
            android:label="@string/title_activity_credits" >
        </activity>
        <activity
            android:name="com.example.whowantstobemillionaire.contest.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
    </application>

</manifest>


